*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sigmar One', sans-serif;
    background: #f7eb85;
}
.navbar{
    width: 100%;
    background: #3d5a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
}

.logo{
    font-family: 'Bauhaus', sans-serif;
    color: #f7eb85;
    font-size: 55px;
}

.menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover{
    color: #f7eb85;
}
.producto-container{
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px;
    flex-wrap: wrap;
}

.imagen-producto{
    background: white;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.imagen-producto:hover{
    transform: translateY(-8px);
}

.imagen-producto img{
    width: 450px;
    max-width: 100%;
    border-radius: 25px;
}

.info-producto{
    background: white;
    padding: 50px;
    border-radius: 35px;
    max-width: 550px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.info-producto h2{
    font-family: 'Bauhaus', sans-serif;
    font-size: 60px;
    color: #3d5a1d;
    margin-bottom: 25px;
}

.descripcion{
    font-size: 20px;
    color: #444;
    line-height: 1.8;
    margin-bottom: 30px;
}

.precio{
    display: block;
    font-size: 40px;
    color: #3d5a1d;
    margin-bottom: 35px;
}

#agregarCarrito{
    padding: 18px 35px;
    border: none;
    border-radius: 15px;
    background: #3d5a1d;
    color: white;
    font-size: 18px;
    font-family: 'Sigmar One', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

#agregarCarrito:hover{
    background: black;
    transform: scale(1.05);
}


.modal-agregado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contenido{
    background: white;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    animation: aparecer 0.4s ease;
}

.modal-contenido h2{
    font-family: 'Bauhaus', sans-serif;
    font-size: 55px;
    color: #3d5a1d;
    margin-bottom: 20px;
}

.modal-contenido p{
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
}

#cerrarModal{
    padding: 15px 35px;
    border: none;
    border-radius: 15px;
    background: #3d5a1d;
    color: white;
    font-family: 'Sigmar One', sans-serif;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

#cerrarModal:hover{
    background: black;
    transform: scale(1.05);
}
.footer{
    background: #3d5a1d;
    padding: 60px 20px;
    text-align: center;
}

.footer h3{
    font-family: 'Bauhaus', sans-serif;
    color: #f7eb85;
    font-size: 50px;
    margin-bottom: 15px;
}

.footer p{
    color: white;
}
@keyframes aparecer{

    from{
        opacity: 0;
        transform: scale(0.7);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }

}
@media(max-width: 900px){

    .navbar{
        flex-direction: column;
        gap: 20px;
        padding: 25px;
    }

    .menu{
        flex-wrap: wrap;
        justify-content: center;
    }

    .producto-container{
        padding: 60px 30px;
        text-align: center;
    }

    .info-producto h2{
        font-size: 55px;
    }

    .imagen-producto img{
        width: 100%;
        max-width: 350px;
        
    }

}
